.favourites {
  width: 100%;
  padding: 0 250px;
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  .card {
    width: 100%;
    padding: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 9%);
    border-radius: 15px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    .for_image {
      width: 120px;
      height: 120px;
      img {
        width: 120px;
        height: 120px;
        cursor: pointer;
      }
    }
    .for_info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-grow: 1;
      gap: 10px;
      a {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        transition: 0.2s ease all;
        &:hover {
          color: blue;
        }
      }
      button {
        font-weight: 400;
        color: #fff;
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        background-color: #007bff;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        &:hover {
          filter: brightness(0.8);
        }
      }
    }
    .for_pricing {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      h2 {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 20px;
        color: #141821;
        font-family: "Roboto", sans-serif;
      }
      h3 {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
        font-family: "Roboto", sans-serif;
      }
    }
    .for_actions {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 10px;
      .add_to_cart {
        background-color: #008dff;
        border: none;
        z-index: 1;
        font-size: 14px;
        padding: 14px 20px;
        color: #fff;
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        width: 195px;
        transition: 0.2s ease all;
        &:hover {
          background-color: blue;
        }
      }
      .delete {
        background-color: #fe7300;
        border: none;
        z-index: 1;
        font-size: 14px;
        padding: 14px 20px;
        color: #fff;
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        width: 195px;
        transition: 0.2s ease all;
        &:hover {
          background-color: orangered;
        }
      }
    }
  }
}
